# Banco de dados
DB_SERVER=host.docker.internal
DB_PORT=1433
DB_NAME=NAME_DB
DB_USER=USERADMIN
DB_PASSWORD=PASSWORD

# JWT
JWT_SECRET=SECRET
JWT_ISSUER=ISSUER
JWT_AUDIENCE=AUDIENCE
JWT_EXPIRATION_MINUTES=15
REFRESH_TOKEN_EXPIRATION_DAYS=7

# App
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080